/practica5 - java/jaPractica1/nbproject/private/
/practica5 - java/jaPractica1/build/
/practica5 - java/jaPractica2/nbproject/private/
/practica5 - java/jaPractica2/build/
/practica5 - java/jaPractica2/dist/
/practica5 - java/jaCajero/nbproject/private/
/practica5 - java/jaCajero/build/
/practica5 - java/jaCajero/dist/
/practica5 - java/jaPractica3/nbproject/private/
/practica5 - java/jaPractica3/build/
/practica5 - java/jaPractica4/nbproject/private/
/practica5 - java/jaPractica4/build/